* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.link-hover:hover {
  color: #111;
  background-color: #fff;
}

.active-link {
  color: #fff !important;
  background-color: #465671;
}

.error-alter-btn {
  background-color: rgb(213, 16, 16);
  color: #fff;
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alter-btn {
  background-color: #465671;
  color: #fff;
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
  opacity: 0.8;
}

.complete-icon {
  color: #222;
  cursor: pointer;
}

.edit-icon {
  color: #96f;
  cursor: pointer;
}

.delete-icon {
  color: #d44;
  cursor: pointer;
}

/* three dots animations loading */
.dot-overtaking {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 6px;
  background-color: transparent;
  color: #465671;
  margin: -1px 0;
  box-shadow: 0 -20px 0 0;
  filter: blur(1px);
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::before,
.dot-overtaking::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 6px;
  background-color: transparent;
  color: #465671;
  box-shadow: 0 -20px 0 0;
  filter: blur(1px);
}

.dot-overtaking::before {
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: 0.3s;
}

.dot-overtaking::after {
  animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: 0.6s;
}

@keyframes dotOvertaking {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
